<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>{{ page.title }}</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>Yjfox.github.io</h1>
        <h2>Jun Yin's Personal Blog </h2>
        <a href="https://github.com/yjfox" class="button"><small>Follow me on</small>GitHub</a>
      <div id="link">
        <a href="http://www.facebook.com/junyin6" class="click" target="_blank">Facebook</a>
        <a href="http://www.linkedin.com/profile/view?id=120328825" class="click" target="_blank">LinkedIn</a>
        <a href="http://plus.google.com/105408507957176728701" class="click" target="_blank">Google+</a>
      </div>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">

           {{  content  }}
        
         </section>
        <aside id="sidebar">


        <ul>
        <p><li><a href="/research.html">Research</a></li></p>
        <p><li><a href="/experience.html">Experience</a></li></p>
        <p><li><a href="/skills.html">Skills</a></li></p>
        <p><li><a href="/interests.html">Interests</a></li></p>
        <p><li><a href="/activity.html">Activity</a></li></p>
        <p><li><a href="/aboutme.html">About Me</a></li></p>
        <p><li><a href="/index.html">My blog</a></li>
        </ul>        </aside>
      <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'yjfoxblog'; // Required - Replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
    </div>

  
  </body>
</html>
